<link rel="stylesheet" href="/css/login.css">

<section class="login-register section--lg">
    <div class="login-register__container container grid">
        <div class="login">
            {{> login}}
        </div>

        <div class="register">
            {{> register}}
        </div>
    </div>
</section>

{{> newsletter}}