<link rel="stylesheet" href="/css/profiles.css">

<section class="accounts section--lg">
    <div class="accounts__container container grid">
        <div class="account__tabs">
            <p class="account__tab active__tab" data-target="#dashboard">
                <i class="fi fi-rr-settings-sliders"></i> DashBoard
            </p>

            <p class="account__tab active__tab" data-target="#users">
                <i class="fi fi-rr-user"></i> Usuarios
            </p>

            <p class="account__tab active__tab" data-target="#products">
                <i class="fi fi-rr-shopping-bag"></i> Productos
            </p>

            <p class="account__tab active__tab" data-target="#categories">
                <i class="fi fi-rr-category-alt"></i> Categorias
            </p>

            <p class="account__tab active__tab" data-target="#tickets">
                <i class="fi fi-rr-ticket"></i> Tickets
            </p>

            <p class="account__tab active__tab" data-target="#shipping">
                <i class="fi fi-rr-marker"></i> Destinos
            </p>

            <p class="account__tab active__tab logout-button">
                <i class="fi fi-rr-exit"></i> Salir
            </p>
        </div>

        <div class="tabs__content">
            <div class="tab__content active-tab" id="dashboard" role="tabpanel" aria-labelledby="dashboard-name">
                {{> profileAdminDash}}
            </div>

            <div class="tab__content" content id="users">
                {{> profileAdminUsers}}
            </div>

            <div class="tab__content" content id="products">
                {{> profileAdminProducts}}
            </div>

            <div class="tab__content" content id="categories">
                {{> profileUserCategories}}
            </div>

            <div class="tab__content" content id="tickets">
                {{> profileAdminTickets}}
            </div>

            <div class="tab__content" content id="shipping">
                {{> profileAdminShipping}}
            </div>
        </div>
</section>

<script src="/js/profileAdmin/profileAdminTabs.js"></script>