<link rel="stylesheet" href="/css/store.css" />

<section class="products section container">
    <p class="total__products">
        Tenemos <span>los mejores</span> productos para Fumar.
    </p>
    <div id="products-container" class="products__container grid"></div>
</section>

<ul class="pagination" id="pagination"></ul>

{{> newsletter}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/store.js"></script>