<link rel="stylesheet" href="/css/wish.css">

<section id="wish-header">
    <h2>#let´s_talk</h2>
    <p>LEAVE MESSAGE, We love to hear from you! </p>
</section>

<section id="wish" class="section-p1">
    <table width="100%">
        <thead>
            <tr>
                <td>Remove</td>
                <td>Image</td>
                <td>Product</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="#">
                        <i class="far fa-times-circle"></i>
                    </a>
                </td>
                <td>
                    <img src="/assets/img/products/f1.jpg" alt="">
                </td>
                <td>Cartoon Astronaut T-Shirts</td>
                <td>$118.19</td>
            </tr>
            <tr>
                <td>
                    <a href="#">
                        <i class="far fa-times-circle"></i>
                    </a>
                </td>
                <td>
                    <img src="/assets/img/products/f2.jpg" alt="">
                </td>
                <td>Cartoon Astronaut T-Shirts</td>
                <td>$118.19</td>
            </tr>
            <tr>
                <td>
                    <a href="#">
                        <i class="far fa-times-circle"></i>
                    </a>
                </td>
                <td>
                    <img src="/assets/img/products/f3.jpg" alt="">
                </td>
                <td>Cartoon Astronaut T-Shirts</td>
                <td>$118.19</td>
            </tr>
        </tbody>
    </table>
</section>