.login-register__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
}

#form-title {
    color: #088178;
    font-weight: 600;
}

.login,
.register {
    border: 1px solid hsl(0, 0%, 84%);
    padding: 2rem;
    border-radius: 0.5rem;
}

.forgot__text {
    font-size: 0.875rem;
}
.forgot__pass {
    color: #088178;
}

.forgot__pass:hover {
    border-bottom: 0.5px solid #088178;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label {
    font-size: 16px;
    font-weight: 500;
    color: hsl(154, 13%, 32%);
}

.select-city {
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-field {
    font-size: 15px;
    padding: 6px;
    border-radius: 0.3rem;
    color: hsl(154, 13%, 32%);
    outline: none;
}

.success-alert {
    color: hsl(134, 61%, 21%);
    background-color: hsl(134, 41%, 88%);
    border: 1px solid  hsl(134, 41%, 83%);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
}

.error-message {
    color: hsl(0, 61%, 21%);
    background-color: hsl(0, 41%, 88%);
    border: 1px solid hsl(0, 41%, 83%);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 10px;
}

.select-field {
    font-size: 15px;
    font-weight: 600;
    padding: 12px;
    color: hsl(154, 13%, 32%);
    outline: none;
}

.flex-gap {
    display: flex;
    gap: 20px;
    align-items: center;
}

.image-preview {
    width: 60px;
    height: 60px;
    border: 2px solid #088178;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview {
    width: 55px;
    height: 55px;
    width: 100%;
    border-radius: 50%;
}

.file-upload {
    position: relative;
    width: 160px;
    height: 50px;
}

.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.array__group {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.array__group div {
    margin-top: 20px;
    ;
}

.title__array {
    margin-top: 10px;
}

.title__array-option {
    color: var(--text-color);
    font-size: 0.875rem;
    font-weight: 600;
}

#thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@media screen and (max-width: 992px) {

    .login,
    .register {
        padding: 1.25rem;
    }
}

@media screen and (max-width: 768px) {
    .login-register__container {
        grid-template-columns: 100%;
    }
}