.container {
    max-width: 1320px;
    margin-inline: auto;
    padding-inline: .75rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section--lg {
    padding-block: 4rem;
}

.accounts__container {
    grid-template-columns: 4fr 8fr;
}

.account__tabs {
    border: 1px solid hsl(0, 0%, 84%);
    border-radius: 0.25rem;
}

.account__tab {
    padding: 1rem 2rem;
    color: hsl(0, 0%, 13%);
    ;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    column-gap: 0.625rem;
    cursor: pointer;
}

.account__tab.active-tab {
    background-color: #088178;
    color: var(--body-color);
}

.account__tab:not(:last-child) {
    border-bottom: 1px solid hsl(0, 0%, 84%);
}

.tab__content:not(.active-tab) {
    display: none;
}

.tab__content {
    border: 1px solid hsl(0, 0%, 84%);
}

.tab__header {
    background-color: hsl(0, 0%, 93%);
    border-bottom: 1px solid hsl(0, 0%, 84%);
    padding: 1rem;
    font-size: 0.875rem;
}

.title__tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tab__body {
    padding: 1rem;
}

.placed__order-table tr td {
    color: hsl(0, 0%, 13%);
    ;
    text-align: left;
}

.placed__order-table tr th,
.placed__order-table tr td {
    border: 1px solid hsl(0, 0%, 84%);
    padding: 0.5rem;
    font-size: 0.875rem;
}

.view__order,
.edit {
    color: #088178;
}

.address {
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.city {
    margin-bottom: 0.25rem;
}

.edit {
    font-size: 0.875rem;
}

.user__data {
    display: flex;
    align-self: center;
    justify-content: space-around;
}

.data__2 {
    margin-top: 0.5rem;
}

.data__3 {
    margin-top: 1.5rem;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label {
    font-size: 16px;
    font-weight: 500;
    color: hsl(154, 13%, 32%);
}

.select-city {
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-field {
    font-size: 15px;
    padding: 6px;
    border-radius: 0.3rem;
    color: hsl(154, 13%, 32%);
    outline: none;
}

.success-alert {
    color: hsl(134, 61%, 21%);
    background-color: hsl(134, 41%, 88%);
    border: 1px solid hsl(134, 41%, 83%);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
}

.error-message {
    color: hsl(0, 61%, 21%);
    background-color: hsl(0, 41%, 88%);
    border: 1px solid hsl(0, 41%, 83%);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 10px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.user-info-mod {
    margin-bottom: 10px;
    margin-top: 25px;
    background-color: rgba(127, 255, 212, 0.2);
    padding: 5px;
    border-radius: 5px;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 500px;
}

.close {
    cursor: pointer;
    float: right;
    font-size: 18px;
}

.modal-order-user {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 400px;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
}

.modal-content-order-user {
    text-align: center;
}

.close-order-user {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.modal-orders {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 400px;
    background: white;
    padding: 20px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    z-index: 1000;
}

.modal-content-orders {
    text-align: center;
}

.close-orders {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.modal-tickets {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content-tickets {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 500px;
}

.close-tickets {
    cursor: pointer;
    float: right;
    font-size: 18px;
}

.modal__create-user {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal__create-content {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 1200px;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.close-create-user {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal__create-prod-content {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 1200px;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal__create-prod {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.close-create-prod {
    cursor: pointer;
    float: right;
    font-size: 18px;
}

.modal-products {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content-products {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 600px;
    max-height: 80%;
    overflow-y: auto;
}

.close-products {
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.product {
    display: none;
}

.modal-content-products {
    display: block;
}

.buttons-container button {
    margin: 10px;
    margin-top: 1rem;
    padding: 10px 15px;
}

.create__btn,
.update__btn,
.delete__btn,
.admin__btn,
.user__btn {
    padding: 8px;
    border-radius: 0.25rem;
    border: none;
    outline: none;
}

#update-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    gap: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form__input,
.select-field {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.form__input:focus,
.select-field:focus {
    border-color: #088178;
    outline: none;
}

.label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: #333;
}

.flex-between {
    display: flex;
    gap: 1rem;
    grid-column: span 2;
}

.select-city {
    grid-column: span 2;
}

.form__btn {
    grid-column: span 2;
    text-align: center;
}

.btn--md {
    background-color: #088178;
    color: #fff;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn--md:hover {
    background-color: #088178;
}

.delete__btn,
.delete__btn-t,
.cancel__btn,
.cancel__order-btn,
.delete__order-btn {
    background-color: hsl(0, 61%, 21%);
    color: hsl(129, 44%, 94%);
    cursor: pointer;
    border-radius: 0.5rem;
}

.delete__btn:hover,
.delete__btn-t:hover,
.cancel__btn:hover,
.cancel__order-btn:hover,
.delete__order-btn:hover {
    background-color: transparent;
    color: hsl(0, 61%, 21%);
}

.pay__btn,
.cancel__btn,
.process__btn,
.create__btn,
.update__btn,
.admin__btn,
.user__btn,
.feature__btn,
.best__seller,
.new__arrive,
.products__btn,
.update {
    background-color: #088178;
    color: hsl(129, 44%, 94%);
    cursor: pointer;
    border-radius: 0.5rem;
}

.pay__btn:hover,
.cancel__btn:hover,
.process__btn:hover,
.admin__btn:hover,
.user__btn:hover,
.feature__btn:hover,
.best__seller:hover,
.new__arrive:hover,
.products__btn:hover,
.update:hover {
    background-color: transparent;
    color: #088178;
}

.product__modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1400px) {
    .accounts__container {
        grid-template-columns: 3fr 9fr;
    }
}

@media screen and (max-width: 1200px) {
    .account__tab {
        padding: 0.75rem 1rem;
    }
}

@media screen and (max-width: 992px) {
    .accounts__container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    #update-form {
        grid-template-columns: 1fr;
    }

    .flex-between {
        flex-direction: column;
    }

    .tab__header,
    .tab__body {
        padding: 0.75rem;
    }
}

@media screen and (max-width: 576px) {
    .placed__order-table th {
        display: none;
    }

    .placed__order-table tr td {
        display: block;
    }
}