<link rel="stylesheet" href="/css/header.css">

<section id="header">
    <a href="">
        <img src="/assets/img/logo.png" alt="" class="logo">
    </a>

    <div>
        <ul id="navbar">
            <li><a class="active" href="/">Inicio</a></li>
            <li><a href="/tienda">Tienda</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Sobre Nosotros</a></li>
            <li><a href="#">Contactanos</a></li>
            <li><a id="lg-bag" href="/cart/1"><i class="far fa-shopping-bag"></i></a></li>
            <a href="#" id="close"><i class="far fa-times"></i></a>
        </ul>
    </div>
    <div id="mobile">
        <a href="/cart/1" class="cart-btn"><i class="far fa-shopping-bag"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
    </div>
</section>

<script src="/js/header.js"></script>