<link rel="stylesheet" href="/css/header.css">

<section id="header">
    <a href="">
        <img src="/assets/img/logo.png" alt="" class="logo">
    </a>

    <div>
        <ul id="navbar">
            <li><a class="active" href="/">Inicio</a></li>
            <li><a href="/tienda">Tienda</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Sobre Nosotros</a></li>
            <li><a href="#">Contactanos</a></li>
            <li><a href="/cart/1"><i class="far fa-shopping-bag"></i></a></li>
        </ul>
    </div>
</section>