<h3 class="tab__header" id="dashboard-name" style="display: flex; align-items-center; justify-content: space-between;">
    Panel de Administracion<a href="/api-docs" style="text-decoration: none; color: #088178">Documentacion API</a></h3>
<div class="tab__body">
    <p class="tab__description">
        Desde el panel de control de administrador, puedes visualizar y gestionar todos los datos
        registrados en la base de datos de la tienda en línea. Administra los productos, usuarios y
        compras de manera eficiente.
    </p>
</div>